//Color
$background: #022F40;
$backgroundSecondary: #183446;
$primary: #38AECC;
$primaryWeak: #014a5c;
$secondary: #1C9FC7;
$accent: #0090C1;
$strong: #DEB901;
$textColorLight: #EAEAEA;
$textColorDark:  #121212;

//Color Helper
$shadowColor: #6c6b6b;

//Form
$border_radius: 10px;
$text_size: 25px;

//Font
$font: arial;

html {
  width: 100%;
  margin: 0;
}

body {
  background: linear-gradient(180deg, $background, $backgroundSecondary);
  color: $textColorLight;
  text-shadow: $shadowColor 1px 1px 1px;
  font-size: $text_size;
  font-family: $font;
  width: 100%;
  min-height: 100vh;

  margin: 0;
}

h1, h2, h3, h4, h5 {
  text-align: center;
  margin: 20px;
}

//Template
#Template {
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
}

#header {
  margin: 5px;
}

#footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  text-align: center;
}

.ErrorConsole {
  color: red;
}

#NavigationBar {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#ContentContainer {

}

//Screens
.Screen {

}

#WelcomeScreen {
  margin: 20px;

}

#PositionsScreen {

}

#SearchScreen {

}

#GameScreen {

}

a {
  color: $primary;
}

//Views
.Container {
  padding: 10px;
  border: $primary solid 1px;
  margin: 10px;
}
.SearchResultView {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.SearchResultColumn {
  display: grid;
  grid-template-columns: 1fr;
}
.PositionView {

}
.TransactView {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-items: center;
}
.SettingsView {

}
.LoadGameContainerView {

}
.LoadGameView {

}
.FinancialStatement {

}
.Button {
  margin: 10px;
  padding: 10px;
  background: $accent;
  transform: scale(0.97);
  transition: .2s;
  text-align: center;
}
.Button:hover {
  background: $primary;
  cursor: pointer;
  transform: scale(0.99);
  transition: .2s;
}
.Button:active {
  transform: scale(0.95);
  transition: .2s;
  cursor: pointer;

}
.TextInput {

}
.notice {
  font-size: $text_size * 0.65;
  padding: 3px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}
.RadioContainer {
  margin: 10px;
  padding: 10px;
}
.RadioValueContainer {

  padding: 5px;
}
input[type="text"], input[type='number'], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  height: $text_size * 1.5;
  align-self: center;

  display: inherit;

  text-align: center;
  font-size: inherit;

  background: $textColorLight;
  border: 2px $primary solid;
  color: $textColorDark;
}
.KeyValueRow {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}